/* navbar */

/* logo image */
.navbar-brand img{
    height: 40px;
    width: 200px;
    padding-left: 0;
}

.navbar-nav ul li{
    width: 85px;
}

.navbar-nav ul li a{
    font-weight: 700;
    float: right;
}
.sign-in-btn-class{
    width: 69px !important;
    font-weight: 700 !important;
    background-color: #00c26a !important;
    color: white !important;
}

/* fetures */
#intro-row{
    padding-left: 15px;
}

#intro{
    color: #4c4c4c;
}
#intro p{
    font-weight: 500;
    margin-top: 1rem;
    padding-bottom: 1px;
}
#intro h1{
    padding-top: 4rem;
}


#landing-img{
    height: 500px;
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    #landing-img{
        width:95%;
        height: 400px;
        margin-top: 1rem;
    }
  }
  
  @media only screen and (min-width: 900px) {
    .sign-in-btn-class{
        width: 90px !important;
    }
  }